*{
    color: #fff;
}

body{
    background: #1d2630;
}

#Update{
    display: none;
}

.btn-danger {
    background-color: brown;
    border: darkblue;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-warning {
    background-color: lightsteelblue;
    border: darkblue;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.group
{
    display:none
}